<hello name="{{ name }}"></hello>
<p>
  :)
  <button class="btn btn-lg btn-outline-primary" (click)="cusOpen()">default modal</button>
</p>

<p>
  Samll button :)
  <button class="btn btn-lg btn-outline-primary" (click)="cusSmOpen()">Small button</button>
</p>

<p>
  confirm :)
  <button class="btn btn-lg btn-outline-primary" (click)="confirmOpen()">confirm</button>
</p>

<p>
  backdrop false :)
  <button class="btn btn-lg btn-outline-primary" (click)="backdropOpen()">backdrop false</button>
</p>