<div role="document" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
      {{ msg }}
    </div>
    <div class="modal-footer">
      <button type="button" *ngIf="!isConfirm" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">關閉</button>
      <button type="button" *ngIf="isConfirm" class="btn btn-outline-secondary" (click)="activeModal.dismiss('cancel click')">否</button>
      <button type="button" *ngIf="isConfirm" ngbAutofocus class="btn btn-primary" (click)="activeModal.close('Y')">是</button>
    </div>
  </div>
</div>